<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Banco Monopoly</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Bienvenido al Banco Monopoly</h1>
    <p>Seleccione uno de los servicios:</p>
    <button onclick="window.location.href='/classification'" class="botones_serv">Cuentas recomendadas para el cliente</button>
    <br>
    <button onclick="window.location.href='/regression'" class="botones_serv">Cupo de tarjeta para compras Nacionales</button>
</body>
</html>
